.choice-btn {
    cursor: pointer;
    border: none;
    margin: 15px;
    border-radius: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.text-center{
    font-size: 2vw;
}

.container h1 {
    font-weight: bold;
    font-size: 4vw;
}

body {
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: rgba(5, 13, 237, 0.541);
    background-clip: text, border-box;
    -webkit-background-clip: text, border-box;
    color: white;
    background: linear-gradient(yellow, #00a4ff);
    background-attachment: fixed;
}

.choice-btn.rock {
    background-image: url('rock.png');
}

.choice-btn.paper {
    background-image: url('paper.png');
}

.choice-btn.scissors {
    background-image: url('scissors.png');
}

@media (min-width: 992px) {
    .choice-btn {
        width: 150px; 
        height: 150px;
    }
}

@media (max-width: 991px) {
    .choice-btn {
        width: 100px; 
        height: 100px; 
    }
}

@media (max-width: 767px) {
    .choice-btn {
        width: 70px; 
        height: 70px; 
    }
}

@media (max-width: 575px) {
    .choice-btn {
        width: 50px; 
        height: 50px; 
    }
}
